.card-itemCart {
  position: relative;
  padding: 20px 150px;
  background-color: #f1f2f4;
}

.cart-card-header {
  position: relative;
}

.cart-card-header .icon-left-card {
  font-size: 15px;
  color: #0aa7f5;
  margin-right: 4px;
}

.cart-card-header p {
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cart-card-header p:hover {
  color: #0aa7f5;
}
.cart-card-header h3 {
  font-size: 17px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}

.card-item-container {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow-default, 0 20px 24px -20px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  overflow: hidden;
  padding: 32px;
  max-height: 500px;
  overflow-y: scroll;
}

.card-item-card {
  position: relative;
  width: 100%;
}

.card-content {
  display: flex;
}

.card-content img {
  width: 150px;
  height: 100px;
  max-width: none;
  border-radius: 2px;
}
.card-content-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-card-bag {
  position: relative;
  margin-left: 20px;
  max-width: 500px;
}
.content-card-bag h4 {
  margin-top: 5px;
  font-size: 17px;
}
.content-card-bag p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.card-quanlity-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.quanlity-card {
  font-size: 14px;
  font-weight: 300;
}

.card-card-number {
  margin-right: 50px;
}

.quantity-money-card {
  padding: 0 15px;
  width: 100px;
  margin-top: 24px;
}

.card-item-card {
  margin-bottom: 40px;
}

.footer-card-quanlity {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.promoCode-main-card {
  position: relative;
  width: 35%;
  height: 54px;
}

.card-promoCode {
  cursor: pointer;
  box-sizing: border-box;
  padding: 16px 0;
  text-align: center;
  width: 100%;
  border: 1px solid;
  color: #2e3338;
  border-color: #e3e6e8;
  background-color: #fff;
  font-size: 14px;
  transition: all 0.2s ease;
}

.card-promoCode:hover {
  border-color: #0aa7f5;
}

.card-apply {
  position: relative;
  width: 100%;
  display: flex;
  height: 54px;
  align-items: center;
}

.input-promocode {
  position: relative;
  width: 100%;
  height: 100%;
}

.input-promocode input {
  outline: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 60px;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  transition: all 0.2s ease;
  color: #2e3338;
}

.input-promocode input:hover,
.input-promocode input:focus {
  border: 1px solid #0aa7f5;
}

.input-promocode span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 14px;
  color: #1a4bd3;
  font-weight: 600;
  border-bottom: 1px solid #1a4bd3;
  cursor: pointer;
  z-index: 999;
}

.card-apply > p {
  margin-left: 10px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.card-total {
  position: relative;
  width: 30%;
}

.card-total > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-total > div p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.card-total .total-editCard p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.checkout-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.btn-checkout {
  width: 100%;
  height: 52px;
  color: #fff;
  background-color: #1a4db3;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
}
.icon-right-card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 15px;
}
.btn-checkout:hover {
  background-color: #0d59f2;
}
.nocard-item-bag {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nocard-item-bag h3 {
  font-size: 18px;
  color: #858688;
}

.nocard-item-bag button {
  margin-top: 40px;
  background-color: #1a4db3;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  padding: 15px 35px;
}

.nocard-item-bag button:hover {
  background-color: #0d59f2;
}

@media screen and ( max-width: 1024px) {
  .card-itemCart {
    padding: 20px 60px;
  }

  .card-quanlity-container {
    justify-content: space-between;
    margin-top: 15px;
  }

  .footer-card-quanlity {
    display: block;
  }
  .promoCode-main-card {
    width: 100%;
  }

  .card-total {
    width: 100%;
    margin-top: 20px;
  }
  .icon-right-card {
    right: 3%;
    font-size: 17px;
  }
  .content-card-bag{
    max-width: 470px;
  }
}

@media screen and ( max-width: 760px) {
  .card-itemCart{
    padding: 20px 5px;
  }
  .card-content{
    display: block;
  }
  .content-card-bag{
    margin-left: 0px;
  }
}