.header-sale {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 10px;
}

.header-slae-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  position: relative;
}
.header-slae-content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 7px;
    background-color: #5865f2;
    top: 0;
    left: 0;
}
.header-slae-content h2 {
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
}
